<h1>Interactive Penrose Tiling</h1>

<div class="penrose-box">
  <app-penrose
    #penrose
    [subdivisions]="subdivisions"
    [showPrevIteration]="showPrevIteration"
    [startingShape]="selectedShape"
    >
  </app-penrose>
</div>

<div class="control-box">

  <div class="iterations-box">
    <span>Iterations: </span>
    
    <mat-slider
      min="0"
      max="8"
      value="1"
      thumbLabel="true"
      tickInterval="1"
      (change)="handleSubChanged($event)"
      (input)="handleSubMoved($event)"
      >
    </mat-slider>
  </div>

  <div>
    <mat-select [(value)]="selectedShape">
      <mat-option *ngFor="let shape of startingShapes" [value]="shape">
        {{ shape }}
      </mat-option>
    </mat-select>
  </div>

  <div>
    <mat-checkbox [(ngModel)]="showPrevIteration">Show previous iteration</mat-checkbox>
  </div>

  <div>
    <mat-checkbox [(ngModel)]="updateRealtime">Update in realtime</mat-checkbox>
  </div>

</div>

