h1 {
    text-align: center;
    font-size: 1.3em;
}

.control-box
{
    text-align: center;

    h2 {
        font-size: 1.2em;
        font-weight: normal;
        margin-bottom: 0;
    }

    div {
        margin-bottom: 1em;
    }

    mat-select {
        width: 50%;
        border: solid 1px lightgrey;
        font-size: 1.25em;
        padding: 0.5em;
    }

    .iterations-box
    {
        margin-bottom: 0;
        
        span {
            margin-right: 1em;
        }

        mat-slider {
            width: 50%;
        }
    }
}

.penrose-box {
    text-align: center;
}
